---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ContactHero from '../components/sections/ContactHero.astro';
import ContactMap from '../components/sections/ContactMap.astro';
import ContactPhones from '../components/sections/ContactPhones.astro';
import ContactForm from '../components/sections/ContactForm.astro';
---

<Layout title="CYM Industrial - Contacto">
	<Navbar />
	<main>
		<ContactHero />
		<ContactMap />
		<ContactPhones />
		<ContactForm />
	</main>
	<Footer />
</Layout>