---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import HeroProducts from '../components/sections/HeroProducts.astro';
import Benefits from '../components/sections/Benefits.astro';
import HeroTechForward from '../components/sections/HeroTechForward.astro';
import HeroProductsHorizontal from '../components/sections/HeroProductsHorizontal.astro';
import HeroProductsBento from '../components/sections/HeroProductsBento.astro';
import HeroProducts3DTilt from '../components/sections/HeroProducts3DTilt.astro';
import HeroProductsCarousel from '../components/sections/HeroProductsCarousel.astro';
import HeroProductsFloating from '../components/sections/HeroProductsFloating.astro';

---

<Layout title="Empresa Industrial - Soluciones Industriales">
	<Navbar />
	<main>
		<HeroTechForward />
		<HeroProducts3DTilt />
		<Benefits />
	</main>
	<Footer />
</Layout>