---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import HeroProducts from '../components/sections/HeroProducts.astro';
import Benefits from '../components/sections/Benefits.astro';
import HeroTechForward from '../components/sections/HeroTechForward.astro';

---

<Layout title="Empresa Industrial - Soluciones Industriales">
	<Navbar />
	<main>
		<HeroTechForward />
		<HeroProducts />
		<Benefits />
	</main>
	<Footer />
</Layout>