---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import HeroProducts from '../components/sections/HeroProducts.astro';
import Benefits from '../components/sections/Benefits.astro';
---

<Layout title="Empresa Industrial - Soluciones Industriales">
	<Navbar />
	<main>
		<Hero/>
		<HeroProducts />
		<Benefits />
	</main>
	<Footer />
</Layout>