---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import HeroNosotros from '../components/sections/HeroNosotros.astro';
import EquiposGallery from '../components/sections/EquiposGallery.astro';
import ProcesoTimeline from '../components/sections/ProcesoTimeline.astro';
---

<Layout title="Nosotros - CYM Industrial">
	<Navbar />
	<main>
		<HeroNosotros />
		<EquiposGallery />
		<ProcesoTimeline />
	</main>
	<Footer />
</Layout>