---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ProductHero from '../components/sections/ProductHero.astro';
import ProductGrid from '../components/sections/ProductGrid.astro';
---

<Layout title="Productos - CYM Industrial | Compresores de Aire">
    <Navbar />
    <main>
        <ProductHero />
        <ProductGrid />
    </main>
    <Footer />
</Layout>
