---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ServiciosHero from '../components/sections/ServiciosHero.astro';
import ServiciosDetalle from '../components/sections/ServiciosDetalle.astro';
---

<Layout title="CYM Industrial - Servicios">
	<Navbar />
	<main>
		<ServiciosHero />
		<ServiciosDetalle />
	</main>
	<Footer />
</Layout>